In [1]:
import pandas as pd

## Задание 1.
1. Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк

1.	Company - компания, которая производит ноутбуки
2.	 Product - имя ноутбука
3.	TypeName - тип ноутбука
4.	Inches - диагональ
5.	ScreenResolution - разрешение ноутбука
6.	Cpu - процессор
7.	Ram - ОЗУ
8.	Memory - память
9.	Gpu - видеокарта
10.	OpSys - операционная система
11.	Weight - вес ноутбука
12.	Price_euros - стоимость ноутбука

In [2]:
df = pd.read_csv('../data/laptop_price.csv', encoding='latin-1')

In [3]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

### 1.1 Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [5]:
df['Cpu'].value_counts()

Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core M M3-6Y30 0.9GHz        1
AMD A9-Series 9420 2.9GHz          1
Intel Core i3 6006U 2.2GHz         1
AMD A6-Series 7310 2GHz            1
Intel Xeon E3-1535M v6 3.1GHz      1
Name: Cpu, Length: 118, dtype: int64

In [6]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split()[0])

In [7]:
df['Cpu_Company'].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: Cpu_Company, dtype: int64

### 1.2 Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя

In [8]:
df['Memory'].value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: Memory, dtype: int64

In [9]:
def mem_value(x):
    if x.split()[0].endswith('GB'):
        res = x.split()[0].replace('GB','')
    elif x.split()[0].endswith('TB'):
        res = float(x.split()[0].replace('TB',''))*1024
    return int(res)

In [10]:
df['Memory_Amount'] = df['Memory'].apply(mem_value)

In [11]:
df['Memory_Amount'].value_counts()

256     508
1024    250
128     177
512     140
500     132
32       45
64       17
2048     16
16       10
180       5
240       1
8         1
508       1
Name: Memory_Amount, dtype: int64

### 1.3 Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)

In [12]:
df['Memory_Type'] = df['Memory'].apply(lambda x: x.replace(' ', '').split('B')[-1])

In [13]:
df['Memory_Type'] = df['Memory'].apply(lambda x: x.split('B ')[-1])

In [14]:
df['Memory_Type'].value_counts()

SSD              641
HDD              576
Flash Storage     74
Hybrid            12
Name: Memory_Type, dtype: int64

### 1.4 Удалите признаки Memory и ScreenResolution

In [15]:
df.drop(columns=['Memory','ScreenResolution'], inplace=True)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

## Задание 2.
### 2.1 Создайте признак SSD, который изначально равен 0

In [16]:
df["SSD"] = 0

### 2.2 Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

In [17]:
df["Memory_Type"].unique()

array(['SSD', 'Flash Storage', 'HDD', 'Hybrid'], dtype=object)

In [18]:
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1

In [19]:
df.sample(5)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
591,598,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,12GB,AMD Radeon 530,Windows 10,2.2kg,949.00,AMD,512,SSD,1
558,565,HP,15-bw007nv (A10-9620P/6GB/128GB/Radeon,Notebook,15.6,AMD A10-Series A10-9620P 2.5GHz,6GB,AMD Radeon 530,Windows 10,1.91kg,568.90,AMD,128,SSD,1
766,775,Asus,X751NV-TY001 (N4200/4GB/1TB/GeForce,Notebook,17.3,Intel Pentium Quad Core N4200 1.1GHz,4GB,Nvidia GeForce 920MX,Windows 10,2.8kg,470.34,Intel,1024,HDD,0
936,950,Dell,Vostro 3568,Notebook,15.6,Intel Core i3 6006U 2.0GHz,4GB,Intel HD Graphics 520,Windows 10,2.18kg,558.60,Intel,1024,HDD,0
317,322,Lenovo,ThinkPad 13,Notebook,13.3,Intel Celeron Dual Core 3855U 1.6GHz,4GB,Intel HD Graphics 510,Chrome OS,1.45kg,459.90,Intel,16,Flash Storage,0

### 2.3 Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [20]:
df["Weight"] = df["Weight"].apply(lambda x: x.replace('kg', ''))

In [21]:
df["Weight"] = df["Weight"].astype("float")

In [22]:
df["Weight"]

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: Weight, Length: 1303, dtype: float64

## Задание 3.
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
 'client_id': [45, 32, 67, 33, 43],
 'laptop_id': [506, 398, 710, 120, 1999]
})
laptop_id - это индексы датафрейма с ноутбуками

In [23]:
clients = pd.DataFrame({
'client_id': [45, 32, 67, 33, 43], 'laptop_id': [506, 398, 710, 120, 1999]
})

### 3.1 Присоедините к таблице clients данные по ноутбукам через метод join

*Данный метод объединяет две таблицы по индексам, поэтому для успешного объединения нужно указать индексы*

In [24]:
client_lap_id = clients.set_index('laptop_id')
lap_lap_id = df.set_index('laptop_ID')
joined = client_lap_id.join(lap_lap_id)
joined

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.2 Присоедините к таблице clients данные по ноутбукам через метод merge
Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [25]:
merged = clients.merge(df, left_on='laptop_id', right_on='laptop_ID')
merged

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,506,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD,1
1,67,710,710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD,0
2,33,120,120,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,HDD,0

## Задание 4.
Составьте несколько сводных таблиц

### 4.1 Найдите среднюю стоимость ноутбуков в зависимости от компании производителя
Отсортируйте от меньшей стоимости к большей

In [26]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

#### 4.2 Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

In [27]:
df.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']})

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Intel             174.0  1152.214145  6099.0
Samsung           659.0   659.000000   659.0

#### 4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [28]:
df.pivot_table(
    index='Cpu_Company',
    columns='Ram',
    aggfunc='count',
    values='Weight'
)

Ram          12GB   16GB  24GB   2GB  32GB    4GB  64GB   6GB    8GB
Cpu_Company
AMD           2.0    3.0   NaN   1.0   NaN   31.0   NaN  13.0   12.0
Intel        23.0  197.0   3.0  21.0  17.0  343.0   1.0  28.0  607.0
Samsung       NaN    NaN   NaN   NaN   NaN    1.0   NaN   NaN    NaN

#### 4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [29]:
df.pivot_table(
    index='OpSys',
    columns='Memory_Amount',
    aggfunc='mean',
    values='Price_euros'
)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,NaN,NaN,NaN,434.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chrome OS,NaN,305.38,412.454545,774.333333,1275.000000,NaN,NaN,1559.000000,NaN,NaN,2199.000000,NaN,NaN
Linux,NaN,NaN,NaN,NaN,742.250000,NaN,NaN,811.638125,389.056364,NaN,NaN,581.401290,NaN
Mac OS X,NaN,NaN,NaN,NaN,1099.000000,NaN,NaN,1311.994000,NaN,NaN,1222.000000,NaN,NaN
No OS,NaN,NaN,NaN,NaN,562.140000,NaN,NaN,782.989286,404.675385,NaN,1098.500000,540.539600,594.0000
Windows 10,2249.0,NaN,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,NaN,1911.985285,904.827906,666.9475
Windows 10 S,NaN,NaN,NaN,308.995000,1039.000000,NaN,NaN,1668.950000,NaN,NaN,2589.000000,NaN,NaN
Windows 7,NaN,NaN,NaN,NaN,1320.323333,1199.0,NaN,1846.466800,924.048333,1002.0,2235.396667,1539.666667,NaN
macOS,NaN,NaN,NaN,NaN,1119.315000,NaN,NaN,1600.370000,NaN,NaN,2180.870000,NaN,NaN

In [30]:
pd.crosstab(
    index=df['OpSys'],
    columns=df['Memory_Amount'], 
    aggfunc='mean',
    values=df['Price_euros']
)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,NaN,NaN,NaN,434.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chrome OS,NaN,305.38,412.454545,774.333333,1275.000000,NaN,NaN,1559.000000,NaN,NaN,2199.000000,NaN,NaN
Linux,NaN,NaN,NaN,NaN,742.250000,NaN,NaN,811.638125,389.056364,NaN,NaN,581.401290,NaN
Mac OS X,NaN,NaN,NaN,NaN,1099.000000,NaN,NaN,1311.994000,NaN,NaN,1222.000000,NaN,NaN
No OS,NaN,NaN,NaN,NaN,562.140000,NaN,NaN,782.989286,404.675385,NaN,1098.500000,540.539600,594.0000
Windows 10,2249.0,NaN,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,NaN,1911.985285,904.827906,666.9475
Windows 10 S,NaN,NaN,NaN,308.995000,1039.000000,NaN,NaN,1668.950000,NaN,NaN,2589.000000,NaN,NaN
Windows 7,NaN,NaN,NaN,NaN,1320.323333,1199.0,NaN,1846.466800,924.048333,1002.0,2235.396667,1539.666667,NaN
macOS,NaN,NaN,NaN,NaN,1119.315000,NaN,NaN,1600.370000,NaN,NaN,2180.870000,NaN,NaN

## Задание 5*.
Ответьте на несколько вопросов
### 5.1 Ноутбуков каких компаний и с каким процессором больше?

In [33]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company'])

Cpu_Company  AMD  Intel  Samsung
Company
Acer          10     93        0
Apple          0     21        0
Asus          11    147        0
Chuwi          0      3        0
Dell           0    297        0
Fujitsu        0      3        0
Google         0      3        0
HP            25    249        0
Huawei         0      2        0
LG             0      3        0
Lenovo        16    281        0
MSI            0     54        0
Mediacom       0      7        0
Microsoft      0      6        0
Razer          0      7        0
Samsung        0      8        1
Toshiba        0     48        0
Vero           0      4        0
Xiaomi         0      4        0

In [55]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company']).max()

Cpu_Company
AMD         25
Intel      297
Samsung      1
dtype: int64

In [46]:
df1 = pd.crosstab(index=df['Company'], columns=df['Cpu_Company'])

In [54]:
df1[df1['Intel']==297]

Cpu_Company  AMD  Intel  Samsung
Company
Dell           0    297        0

### 5.2 С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [49]:
pd.crosstab(index=df['Memory_Type'], columns=df['Memory_Amount'])

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
Memory_Type,,,,,,,,,,,,,
Flash Storage,0,7,38,15,4,0,0,8,0,0,2,0,0
HDD,0,0,1,1,97,0,0,85,132,0,17,227,16
Hybrid,0,0,0,0,0,0,0,1,0,1,1,9,0
SSD,1,3,6,1,76,5,1,414,0,0,120,14,0

In [51]:
pd.crosstab(index=df['Memory_Type'], columns=df['Memory_Amount']).max().sort_values()

Memory_Amount
8         1
240       1
508       1
180       5
16        7
64       15
2048     16
32       38
128      97
512     120
500     132
1024    227
256     414
dtype: int64